* {
  margin: 0px;
  color: white;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
  height: 100vh;
}
.navdiv {
  background-color: #2c0e3a;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.logo-img {
  width: 15%;
}
.timer {
  width: 30%;
}
